/* Live in Style */
/* Snappy Food   */

body {
   max-width: 550px;
   background: tan url(graphics/wooden-rice-bowl.jpg) center center fixed;  /* public domain sos.ms.gov */
   background-size: cover;
   text-align: center;
   padding: 60px 3%;
   margin: 0px auto;
   }
#logo {
   width: 300px;
   margin-bottom: 20px;
   }
h1 {
   margin-bottom: 20px;
   }
h2 {
   margin-bottom: 10px;
   }
.menu {
   background-color: rgba(255,255,255,0.4);
   border: 14px solid tan;
   padding: 20px 20px;
   margin: 30px 0px;
   }
.squish {
   width: 70%;
   margin: 0px auto;
   }
